 .container{
    display: flex;
    width: 1170px;
    min-height: 780px;
}


.leftsidebar{

    width: 780px;
    min-height: 585px;

}



 .rightsidebar{

    width: 780px;
    min-height: 585px;
    background: #174778;
    border-radius: 10px;
 
    
}

.register{
    display:flex;
 
    
   
}

.leftsidebar .register h5 {
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
align-items: center;
margin-right: 12px;
color: #000000;
margin-top: 83px;
margin-bottom: 33px;


}

.leftsidebar .register button{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
border: transparent;
color: #174778;
background-color: white;
cursor: pointer;
margin-top: 83px;
margin-bottom: 33px;
}

.leftsidebar h1{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 44px;
margin-top: 33px;
margin-bottom: 17px;


}

.leftsidebar p {
    font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
color: #595959;
min-height: 72px;
width: 409px;

}

.leftsidebar img {
width: 210px;
height: 88px;
left: 330px;
top: 541px;
margin-top: 8px ;
margin-bottom: 33px;


}
.leftsidebar .textfield input{
    width: 370px;
    min-height: 48px;
    margin-bottom: 20px;
    border: 1px solid #C4C4C4;;
    border-radius: 5px;
}

.leftsidebar .textfield label{
    position: relative;
    top: -23px;
    left: 60px;
    background:floralwhite;
    z-index: 99;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    
}

::placeholder{
padding: 10px 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
background: transparent;

}

.leftsidebar .textfield svg{
    position: relative;
    font-size: 22px;
    color:#E5E5E5;
    top: -57px;

    

}


.form button{
    width: 370px;
    min-height: 48px;
    background: #174778;
    border-radius: 5px;
    color: #fff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 26px;


}
.leftsidebar h6{
font-family: 'Inter';

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #595959;


} 








